<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menu1_title</key>
	<string></string>
	<key>lab1_0</key>
	<string>Label0</string>
	<key>cmd1_0</key>
	<string>Command0</string>
	<key>lab1_1</key>
	<string>Label1</string>
	<key>cmd1_1</key>
	<string>Command1</string>
</dict>
</plist>
